.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.image {
  height: 80px;
  width: 80px;
  align-self: flex-end;
}
.sub-heading {
  font-family: 'Roboto';
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.sub-paragraph {
  font-family: 'Roboto';
  color: #64748b;
  font-size: 15px;
  font-weight: normal;
}
